html {
    font-size: 12px;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.body-container {
    background: var(--color-light);
    color: var(--color-dark);
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    color: var(--color-dark);
}

h4 {
    font-size: 1rem;
    margin: 0;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
}

h6 {
    font-size: .76rem;
}

small {
    font-weight: 300;
    font-size: .77rem;
}

p {
    font-size: .86rem;
    color: var(--color-gray-dark) !important;
}