.downloadForm-layout {
    border-radius: var(--border-radius-3);

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-3);

        & a {
            display: flex;
            text-decoration: none;
            align-items: center;
            color: var(--color-primary);

        }
    }

    & .downloadForm-container {
        & .downloadForm {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: var(--padding-3);
            transition: all 300ms ease;
            user-select: none;
        }
    }
}